In [1]:
import pandas as pd
import os

In [2]:
fpath_Demands = r'.\文件\2021年人员需求表-FC1@20210331.xlsx'
fpath_Interviews = r'.\文件\2021年面试表-重庆-FC1.xlsx'

In [3]:
translate = {
    '客户名称':'customer',
    '岗位名称':'pos_name',
    '级别':'pos_level',
    '岗位职责':'pos_duty',
    '岗位要求描述':'pos_desc'
}

In [4]:
# Demands
xl = pd.ExcelFile(fpath_Demands)
df = pd.DataFrame()
for name in xl.sheet_names[1:]:
    _df = pd.read_excel(xl, sheet_name=name)
    _df['客户名称'] = name
    df = pd.concat([df,_df])
df.drop(labels='需求序号',axis=1,inplace=True)
# df.columns = ['pos_name','pos_level','pos_desc','customer','pos_duty']
Demands = df.copy()
Demands = 
Demands.head()

        岗位名称  级别                                             岗位要求描述  客户名称 岗位职责
0  java开发工程师  资深  1、本科以上学历，计算机相关专业，相关从业不低于8年，具备必须的软件开发理论和开发技能；\n...  通用岗位  NaN
1  java开发工程师  高级  1、本科以上学历，计算机相关专业，相关从业不低于3年，具备必须的软件开发理论和开发技能；\n...  通用岗位  NaN
2  java开发工程师  中级  1、本科以上学历，计算机相关专业，相关从业不低于3年，具备必须的软件开发理论和开发技能；\n...  通用岗位  NaN
3  java开发工程师  初级  1.本科及以上学历，计算机相关专业，相关从业不低于1年；\n2.对开发流程有基本认识，具备必...  通用岗位  NaN
4    前端开发工程师  高级  1、本科及以上学历，从事相关行业不低于5年；\n2、对HTML(包括不同版本)有深入的研究，...  通用岗位  NaN

In [13]:
Demands = Demands[['岗位名称','岗位名称','级别','岗位职责','岗位要求描述']]

         岗位名称   级别
0   java开发工程师   资深
1   java开发工程师   高级
2   java开发工程师   中级
3   java开发工程师   初级
4     前端开发工程师   高级
..        ...  ...
1     前端开发工程师  初中级
2       测试工程师  初中级
0   java开发工程师   中级
1       测试工程师   中级
0   java开发工程师  初中级

[76 rows x 2 columns]

In [10]:
Demands.iloc[0].values

array(['java开发工程师', '资深',
       '1、本科以上学历，计算机相关专业，相关从业不低于8年，具备必须的软件开发理论和开发技能；\n2、具有8个以上项目经验，4个以上大型项目设计开发经验；\n3、精通Java核心技术，深入理解JVM；\n4、精通主流框架，通过对源码的改编与重新构建，搭建适合项目的定制化框架；\n5、精通常用关系型数据库应用开发，以及性能调优；\n6、精通NoSql数据库，懂得封装交互方式，以及性能调优；\n7、熟悉分布式缓存如redis,Aerospike等，懂得封装交互方式，以及性能调优；\n8、很强的定位问题能力，可以直接将问题定位到代码，指出逻辑漏洞，并给出修改建议。',
       '通用岗位', nan], dtype=object)

In [ ]:
import cx_Oracle
import datetime

seq_demand = 'seq_demand.nextval'

dataToInsert = [
    (seq_demand, '通用岗位','java开发工程师','资深',),
    (seq_demand, 'Parent 20',1)
]
conn = cx_Oracle.connect('c##bjsxt11/123456@127.0.0.1/orcl')   #用自己的实际数据库用户名、密码、主机ip地址 替换即可
curs=conn.cursor()
# sql='SELECT * FROM books' #sql语句
# sql = "insert into books values(1059830001, 'BODYBUILD IN 10 MINUTES A DAY', to_date('21-1-01','YY-MM-DD'), 4, '18.75', 30.95, 'FITNESS');"
rr=curs.executemany("insert into demand values(:1,:2,:3)", dataToInsert)
conn.commit()
# row=curs.fetchone()
# print(row)
curs.close()
conn.close()

In [5]:
# TotalDemand
xl = pd.ExcelFile(fpath_Demands)
df = pd.read_excel(xl, sheet_name=0,header=1)
df.drop(labels='序号',axis=1,inplace=True)
# df.columns = ['pos_name','pos_level','pos_desc','customer','pos_duty']
TotalDemand = df.copy()
TotalDemand.head()

,客户名称,负责人,技术岗位,需求等级,级别,需求人数,工作城市,发布日期,状态,服务地址
0,部门通用,聂坤益、程春凯,java开发工程师,紧急,初中高级,5,上海,2021-01-01,进行中,上海工作
1,部门通用,聂坤益、程春凯,前端开发工程师,常规,高级-初级,3,上海,2021-01-01,进行中,上海工作
2,部门通用,聂坤益、程春凯,数据开发工程师,常规,初中级,2,上海,2021-01-01,进行中,上海工作
3,部门通用,聂坤益、程春凯,测试工程师,常规,高级-初级,0,上海,2021-01-01,暂停,上海工作
4,九江卡-上海,聂坤益、程春凯,java开发工程师,紧急,初中级,3,上海,2021-01-01,进行中,上海市闵行区泰虹路168弄1号万科时一区写字楼

In [6]:
# Interviews
xl = pd.ExcelFile(fpath_Interviews)
df = pd.DataFrame()
for name in xl.sheet_names:
    _df = pd.read_excel(xl, sheet_name=name, header=1)
    _df['月份标识'] = name
    df = pd.concat([df,_df])
df.drop(labels='编号',axis=1,inplace=True)
# df.columns = ['pos_name','pos_level','pos_desc','customer','pos_duty']
Interviews = df.copy()
Interviews.head()

,姓名,面试官,初试结果,复试结果,录取结果,不通过原因,形式,联系方式,地点,岗位,...,思路,表达,工作年限,业务领域,技术水平,管理能力,备注,备注.1,月份标识,面试安排
0,李升祥,聂坤益,不通过,未复试,未录取,候选人放弃,现场面试,NaN,重庆,数据,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M03,NaN
1,廖忠建,张俊,不通过,未复试,未录取,技术能力不符合,现场面试,NaN,成都,java,...,一般,较好,3年左右,NaN,初级,NaN,技术一般，只知道项目用到的java基础知识，java其他核心知识未掌握。对用到的项目框架不了...,NaN,M03,NaN
2,唐诚,聂坤益,不通过,未复试,未录取,技术能力不符合,腾讯会议,811894137,上海,数据,...,一般,较差,3年左右,NaN,NaN,无,技术能力不足，做普通报表开发，简历中自述熟练掌握的技术不了解，参与时间较长的项目不能清晰表述。,NaN,M03,NaN
3,伍齐鸣,张俊,已通过,OFFER,已放弃,候选人放弃,现场面试,NaN,成都,java,...,较好,较好,6-8年,互联网,中高级,4-6人,2年左右java后端开发，5年左右android开发，java基础一般，掌握spring、s...,优先推送高投盈创中三级java岗位,M03,NaN
4,胡兰,丁一川,已通过,推客户,未录取,候选人放弃,电话面试,NaN,成都,java,...,一般,一般,4-5年,互联网,初中级,无,做过数据移植，接口开发，开发基础一般，无银行经验，推送九江银行,可随时入职,M03,NaN